<p>We filed a California Public Records Act request with UCPD and reviewed daily incident logs from January 2010 to September 2015.</p>

<p>To analyze crime by incident type, we created a mapping of incident descriptions to one of three categories: violent crime, such as assault and robbery, property crime, such as theft and vandalism and quality-of-life crime, such as alcohol and drug violations. Though we attempted to follow the FBI's <a target="_blank" href="https://www2.fbi.gov/ucr/cius2009/about/offense_definitions.html">Uniform Crime Reporting standards</a>, the classification involved judging how to categorize some crime types.</p>

<p>Many of the logged events were security checks, alarms or escorts. We excluded those incidents from our analysis. In all, we analyzed 9,204 of the 28,138 reports.</p>

<p>To put the incidents on a map, we had to assign each point a latitude and longitude, a process known as geocoding. We were able to geocode 8,175 incidents, 7,643 of which were close to campus.</p>

<p>The data and code used for this project is <a target="_blank" href="https://github.com/sahilchinoy/ucpd-crime">available to the public</a>.</p>