{% extends "base.html" %}

{% load mathfilters %}
{% load humanize %}
{% load static from staticfiles %}

{% block title %}Bin {{ bin_id }} | Crime in Berkeley{% endblock %}

{% block extra-css %}
<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
<style type="text/css">
.row {
    margin: 40px 0;
}
#incidentsTable tr.danger.active td, tr.active th.danger {
    background-color: #FF4D4F !important;
    color: white;
}
#incidentsTable tr.warning.active td, tr.active th.warning {
    background-color: #D1AB00 !important;
    color: white;
}
tr.active th.info {
    background-color: rgb(0,117,176) !important;
    color: white;
}
.unclickable {
    cursor: default;
}
.progress {
    position: relative;
    height: 25px;
    margin-bottom: 0px;
}
.lbl-pct {
    position: absolute;
    width: 50px;
    color: white;
    font-size: 11px;
    z-index: 10;
    margin-left: -35px;
    margin-top: 6px;
}
.lbl-count {
    text-align: right;
    font-weight: bold;
    color: black;
}

</style>
{% endblock %}

{% block extra-js %}
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>

{% endblock %}

{% block nav %}
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <h2 class="navbar-brand small-brand"><a href="#">DC</a></h2>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav small-nav">
        <li><a href="{% url 'bins' %}">Crime</a></li>
        <li><a class="separator">></a></li>
        <li><a href="#" class="active">Bin {{ bin_id }}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}

    <div class="container">

    <div class="col-md-5">
        <table class="table">
        <tbody>
        <tr>
            <th class="active">Total</th>
            <td class="lbl-count">{{ counts.all }}</td>
            <td style="width: 70%">
                <div class="progress">
                    <div class="progress-bar progress-bar-default" style="width: {{ object.pct_all | floatformat:1 }}%"></div>
                    <div class="lbl-pct" style="left: {{ object.pct_all | floatformat:1 }}%">
                        {{ object.pct_all|floatformat:0 }}%
                    </div>
                </div>
                
            </td>
        </tr>
        <tr id="row-severity-0">
            <th class="danger">Violent</th>
            <td class="lbl-count">{{ counts.0 }}</td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width: {{ object.pct_0 | floatformat:1 }}%"></div>
                    <div class="lbl-pct" style="left: {{ object.pct_0 | floatformat:1 }}%">
                        {{ object.pct_0|floatformat:0 }}%
                    </div>
                </div>
                
            </td>
        </tr>
        <tr id="row-severity-1">
            <th class="warning">Property</th>
            <td class="lbl-count">{{ counts.1 }}</td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" style="width: {{ object.pct_1 | floatformat:1 }}%"></div>
                    <div class="lbl-pct" style="left: {{ object.pct_1 | floatformat:1 }}%">
                        {{ object.pct_1|floatformat:0 }}%
                    </div>
                </div>
            </td>
        </tr>
        <tr id="row-severity-2">
            <th class="info">Minor</th>
            <td class="lbl-count">{{ counts.2 }}</td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" style="width: {{ object.pct_2 | floatformat:1 }}%"></div>
                    <div class="lbl-pct" style="left: {{ object.pct_2 | floatformat:1 }}%">
                        {{ object.pct_2|floatformat:0 }}%
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
        </table>

        <div id="map" style="height: 370px"></div>
    </div>

    <div class="col-md-7">
        <table id="incidentsTable" class="table">
        <thead><tr>
            <th>Offense</th>
            <th>Address</th>
            <th>Date</th>
            <th>Time</th>
        </tr></thead>
        <tbody>
        {% for incident in incidents %}
        <tr id="row-{{ incident.caseno }}" class="{% if incident.severity == 0 %} danger {% endif %} {% if incident.severity == 1 %} warning {% endif %} {% if incident.severity == 2 %} info {% endif %}">
            <td>{{ incident.offense }}</td>
            <td>{{ incident.address }}</td>
            <td>{{ incident.date }}</td>
            <td>{{ incident.time }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

    </div>

<script type="text/javascript">
var map = L.map('map', {
    zoom: 14,
    minZoom: 13,
    scrollWheelZoom: false,
    doubleClickZoom: false,
    maxBounds: [[37.833459, -122.325810],[37.929657, -122.211311]],
});

// add an OpenStreetMap tile layer
var CartoDB_Positron = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
    subdomains: 'abcd',
    maxZoom: 19,
    detectRetina: true,
    opacity: 1,
}).addTo(map);

var bin = L.geoJson(JSON.parse('{{ geom|safe }}'), {
    style: {
        fill: false,
    }
}).addTo(map);
map.fitBounds((bin.getBounds()));

var colors = ['#d9534f','#f0ad4e','#5bc0de'];
var colorscale = d3.scale.quantize().domain([0,2]).range(colors);
var markers = {}
var severity_group = []
for (var i=0; i<3; i++) {
    severity_group[i] = new L.featureGroup();
}

var selectedStyle = {
    radius: 6,
    fillOpacity: 0.8,
}
var defaultStyle = {
    radius: 4,
    fillOpacity: 0.6,
}

{% for incident in incidents %}
var severity = {{ incident.severity }};
markers[{{ incident.caseno }}] = new L.circleMarker([{{ incident.lat }}, {{ incident.lon }}], {
    stroke: false,
    fillColor: colorscale(severity),
    clickable: false,
    className: 'unclickable',
}).setStyle(defaultStyle).addTo(map);

severity_group[severity].addLayer(markers[{{ incident.caseno }}]);

$('#row-{{ incident.caseno }}').on('mouseover', function() {
    $(this).addClass('active');
    markers[{{ incident.caseno }}]
    .setStyle(selectedStyle)
    .bringToFront();
});
$('#row-{{ incident.caseno }}').on('mouseout', function() {
    $(this).removeClass('active');
    markers[{{ incident.caseno }}]
    .setStyle(defaultStyle);
});
{% endfor %}

for (var i=0; i<3; i++) {
    $('#row-severity-' + i).on('mouseover', function(d) {
        $(this).addClass('active');
        severity_group[this.id.slice(-1)]
            .setStyle(selectedStyle)
            .bringToFront();
    }).on('mouseout', function() {
        $(this).removeClass('active');
        severity_group[this.id.slice(-1)]
            .setStyle(defaultStyle);
    });
}
$(document).ready(function(){
    $('#incidentsTable').DataTable({
        "paging":   false,
        'order': [[2,'dsc']],
        'lengthChange': false,
        "sScrollY": "500px",
        "dom": 'tlfipS',
        "info": false,
    });

});

</script>

{% endblock %}