{% load static from staticfiles %}

<style type="text/css">
text.label {
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    fill: #999;
}
rect.bordered {
    stroke: #E6E6E6;
    stroke-width:1px;
}
h4 {
    font-size: 14px;
    margin: 20px 0 5px 30px;
    color: gray;
    font-weight: normal;
}
</style>

<div style="text-align: center;" class="col-md-4 center-block">
	<h4>Violent</h4>
	<div id="time-1"></div>
</div>
<div style="text-align: center;" class="col-md-4 center-block">
	<h4>Property</h4>
	<div id="time-2"></div>
</div>
<div style="text-align: center;" class="col-md-4 center-block">
	<h4>Quality-of-life</h4>
	<div id="time-3"></div>
</div>

<script type="text/javascript">
(function() {
    // Global config
    var $graphic = $('#time-1');
    var GRAPHIC_DEFAULT_WIDTH = 600;
    var MOBILE_THRESHOLD = 500;

    // Global vars
    var isMobile = false;
    var graphicData = null;

    /*
     * Initialize graphic
     */
    var onWindowLoaded = function() {
    	loadCSV("{% static 'csv/hours.csv' %}");
    	window.onresize = render;
    }

    /*
     * Load graphic data from a JSON.
     */
    var loadCSV = function(url) {
      d3.csv(url, function(error, data) {
        graphicData = data;
        render();
      });
    }


    /*
     * Render the graphic(s). Called by pym with the container width.
     */
    var render = function() {
    	var containerWidth = $graphic.width();

        if (!containerWidth) {
            containerWidth = GRAPHIC_DEFAULT_WIDTH;
        }

        if (containerWidth <= MOBILE_THRESHOLD) {
            isMobile = true;
        } else {
            isMobile = false;
        }

        // Render the chart!
        renderHeatmapChart({
            container: '#time-1',
            width: containerWidth,
            data: graphicData,
            key: 'violent'
        });

        renderHeatmapChart({
            container: '#time-2',
            width: containerWidth,
            data: graphicData,
            key: 'property'
        });

        renderHeatmapChart({
            container: '#time-3',
            width: containerWidth,
            data: graphicData,
            key: 'QOL'
        });
    }

    /*
     * Render a heatmap chart.
     */
    var renderHeatmapChart = function(config) {
        var aspectWidth = isMobile ? 1 : 20;
        var aspectHeight = isMobile ? 2 : 9;

        var margins = {
            top: 20,
            right: 0,
            bottom: 0,
            left: 30
        }

        // Calculate actual chart dimensions
        var chartWidth = config['width'] - margins['left'] - margins['right'];
        
        var buckets = 7;
        var colors = ['#ffffcc','#ffeda0','#fed976','#feb24c','#fd8d3c','#fc4e2a','#e31a1c'];
        var days = ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"];
        var times = ["1a", "2a", "3a", "4a", "5a", "6a", "7a", "8a", "9a", "10a", "11a", "12p", "1p", "2p", "3p", "4p", "5p", "6p", "7p", "8p", "9p", "10p", "11p", "12a"];

        // Clear existing graphic (for redraw)
        var containerElement = d3.select(config['container']);
        containerElement.html('');

        // Transform and format data
        var data = config['data'];
        var key = config['key']
        data.forEach(function(d) {
        	d['value'] = +d[key];
        });

        /*
         * Create D3 scale objects.
         */
        var colorScale = d3.scale.quantile()
            .domain([d3.min(data, function (d) { return d.value; }), d3.max(data, function (d) { return d.value; })])
            .range(colors);

        /*
         * Create the root SVG element.
         */
        var chartWrapper = containerElement.append('div')
            .attr('class', 'graphic-wrapper');

        if (isMobile) {
            var gridSize = Math.floor(chartWidth / 7);
            var yScaleFactor = 2;
            var legendElementWidth = (gridSize * 7) / buckets;

            var chartHeight = gridSize / yScaleFactor * 28 - margins['top'] - margins['bottom']; 

            var chartElement = chartWrapper.append('svg')
                .attr('width', chartWidth + margins['left'] + margins['right'])
                .attr('height', chartHeight + margins['top'] + margins['bottom'])
                .append('g')
                .attr('transform', 'translate(' + margins['left'] + ',' + margins['top'] + ')');

            /*
             * Render day labels to chart.
             */
            var dayLabels = chartElement.selectAll(".dayLabel")
            .data(days)
            .enter().append("text")
              .text(function (d) { return d; })
              .attr("x", function(d, i) { return i * gridSize; })
              .attr("y", 0)
              .style("text-anchor", "middle")
              .attr("transform", "translate(" + gridSize / yScaleFactor + ", -6)")
              .attr("class", "label");

            /*
            * Render time labels to chart.
            */
            var timeLabels = chartElement.selectAll(".timeLabel")
            .data(times)
            .enter().append("text")
              .text(function(d) { return d; })
              .attr("x", 0)
              .attr("y", function(d, i) { return i * gridSize / yScaleFactor; })
              .style("text-anchor", "end")
              .attr("transform", "translate(-6," + gridSize / (yScaleFactor * 1.5) + ")")
              .attr("class", "label");

            /*
            * Render cards to chart.
            */
            var cards = chartElement.selectAll(".hour")
            .data(data, function(d) {return d.day + ':' + d.hour;});

            cards.append("title");

            cards.enter().append("rect")
                .attr("x", function(d) { return (d.day - 1) * gridSize; })
                .attr("y", function(d) { return (d.hour - 1) * gridSize / yScaleFactor; })
                .attr("class", "hour bordered")
                .attr("width", gridSize)
                .attr("height", gridSize / yScaleFactor)
                .style("fill", function(d) { return colorScale(d.value); });

            cards.select("title").text(function(d) { return d.value; });

            var legend = chartElement.selectAll(".legend")
            .data([0].concat(colorScale.quantiles()), function(d) { return d; });

            legend.enter().append("g")
            .attr("class", "legend");

            legend.append("rect")
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", (gridSize / yScaleFactor) * 25)
            .attr("width", legendElementWidth)
            .attr("height", (gridSize / yScaleFactor) / 2)
            .style("fill", function(d, i) { return colors[i]; });

            legend.append("text")
            .text(function(d) { return Math.round(d); })
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", (gridSize / yScaleFactor) * 25.5 + 10)
            .attr("class", "label");

            legend.exit().remove();

        } else {
            var gridSize = Math.floor(chartWidth / 24);
            var legendElementWidth = (gridSize * 24) / buckets;

            var chartHeight = gridSize * 10 - margins['top'] - margins['bottom']; 

            var chartElement = chartWrapper.append('svg')
            .attr('width', chartWidth + margins['left'] + margins['right'])
            .attr('height', chartHeight + margins['top'] + margins['bottom'])
            .append('g')
            .attr('transform', 'translate(' + margins['left'] + ',' + margins['top'] + ')');

            /*
             * Render day labels to chart.
             */
            var dayLabels = chartElement.selectAll(".dayLabel")
            .data(days)
            .enter().append("text")
              .text(function (d) { return d; })
              .attr("x", 0)
              .attr("y", function (d, i) { return i * gridSize; })
              .style("text-anchor", "end")
              .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
              .attr("class", "label");

            /*
            * Render time labels to chart.
            */
            var timeLabels = chartElement.selectAll(".timeLabel")
            .data(times)
            .enter().append("text")
              .text(function(d) { return d; })
              .attr("x", function(d, i) { return i * gridSize; })
              .attr("y", 0)
              .style("text-anchor", "middle")
              .attr("transform", "translate(" + gridSize / 2 + ", -6)")
              .attr("class", "label");

            /*
            * Render cards to chart.
            */

            var cards = chartElement.selectAll(".hour")
            .data(data, function(d) {return d.day + ':' + d.hour;});

            cards.append("title");

            cards.enter().append("rect")
            .attr("x", function(d) { return (d.hour - 1) * gridSize; })
            .attr("y", function(d) { return (d.day - 1) * gridSize; })
            .attr("class", "hour bordered")
            .attr("width", gridSize)
            .attr("height", gridSize)
            .style("fill", function(d) { return colorScale(d.value); });

            cards.select("title").text(function(d) { return d.value; });

            var legend = chartElement.selectAll(".legend")
            .data([0].concat(colorScale.quantiles()), function(d) { return d; });

            legend.enter().append("g")
            .attr("class", "legend");

            legend.append("rect")
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", gridSize * 8)
            .attr("width", legendElementWidth)
            .attr("height", gridSize / 2)
            .style("fill", function(d, i) { return colors[i]; });

            legend.append("text")
            .text(function(d) { return Math.round(d); })
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", gridSize * 8.5 + 10)
            .attr("class", "label");

            legend.exit().remove();
        }
        
    };

    /*
     * Initially load the graphic
     */
    loadCSV("{% static 'csv/hours.csv' %}");

    /*
    * Set up resize event listener
    */
    $( window ).resize(function() {
      render();
    });
})();
</script>