{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Crime on Campus | The Daily Californian{% endblock %}
{% block description %}Analyzing crime around UC Berkeley.{% endblock %}
{% block extra-meta %}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:description" content="Analyzing crime around the UC Berkeley campus."/>
<meta name="twitter:title" content="Crime on Campus | The Daily Californian"/>
<meta name="twitter:site" content="@dailycal"/>
<meta name="twitter:domain" content="The Daily Californian"/>
<meta name="twitter:image" content=""/>
<meta name="twitter:creator" content="@dailycal"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="Crime on Campus | The Daily Californian" />
<meta property="og:url" content="http://projects.dailycal.org/crime/" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Analyzing crime around the UC Berkeley campus." />
<meta property="og:image" content="" />
<meta property="og:site_name" content="The Daily Californian"/>
<meta property="article:publisher" content="https://www.facebook.com/dailycal"/>
<meta property="fb:admins" content="877855486"/>
{% endblock %}

{% block extra-css %}
<link href="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/leaflet.fullscreen.css" rel="stylesheet" />

<style type"text/css">
    .center-block {
        max-width: 600px;
    }
    h1.main-title {
    	margin-top: 0;
    }
    p.byline, p.date {
        text-transform: uppercase;
        text-align: center;
        font-family: Helvetica;
    }
    p.date {
        font-size: 11px;
        margin-top: -6px;
    }
    section {
        padding-top: 40px;
        margin-top: -40px;
    }
</style>
{% endblock %}

{% block extra-js %}
<script src="{% static 'js/leaflet.fullscreen.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/pourover.js' %}" type="text/javascript"></script>
<script src="{% static 'js/tamper.js' %}" type="text/javascript"></script>
<script src="{% static 'js/column_chart.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container">

<section class="col-md-12" style="z-index: 2;">
	<div class="center-block">
		<h1 class="main-title text-center">Crime on Campus</h1>
        <p class="byline">By <a target="_blank" href="http://www.dailycal.org/author/schinoy/">Sahil Chinoy</a> and <a>Thomas Kim</a></p>
        <p class="date">November 17, 2015</p>
        <p>In 2014, UC Berkeley saw the second-greatest number of violent crimes of any University of California campus, behind only Los Angeles, <a target="_blank" href="https://www.fbi.gov/about-us/cjis/ucr/crime-in-the-u.s/2014/crime-in-the-u.s.-2014/tables/table-9/table-9-pieces/Table_9_Offenses_Known_to_Law_Enforcement_California_by_University_and_College_2014.xls">according to the FBI</a>. It also experienced more than 1,000 instances of property crimes such as burglary and theft &mdash; the most of any of the 49 California public schools in the FBI data.</p>
        <p>However, many factors influence these crime reports, including the size of the student body and the campus location. UC Berkeley has over 35,000 students and exists in an urban area with a relatively high crime rate, unlike many other campuses.
        <p>The Daily Californian analyzed five years of UCPD's daily activity logs, finding that crime is unevenly distributed across campus, between days of the week and through the year. Explore an <a href="#map">interactive map</a> of crime around campus, <a href="#hours">view crime by time of day</a>, <a href="#months"> see historical trends</a> or read about <a href="#about">how we analyzed the data</a>.</p>
	</div>
</section>

<section id="map" class="col-md-12">
	<hr>
    <div class="center-block">
        <h3>By area</h3>
        <p>The area south of campus has experienced the most violent crime reports since 2010, notably in <b>People's Park</b> and the surrounding area, where there were multiple reports of battery, aggravated theft, robbery and assault. However, the crimes reported most often in the area were drug and alcohol violations and petty theft. These quality-of-life crimes, encompassing narcotics violations and disorderly conduct, were most concentrated in the <b>Telegraph Avenue</b> area south of campus.</p>

        <p>In contrast, most property crimes were reported on campus. Frequent reports came from the <b>Recreational Sports Facility</b>, <b>Golden Bear Cafe</b>, <b>Dwinelle Hall</b> and libraries such as <b>Doe Library</b> and <b>Moffitt Library</b>, areas where students and staff are more likely to leave personal items unattended.</p>

        <p><b>Click a bin</b> for detailed information.</p>
    </div>
	{% include 'map.html' %}
</section>

<section id="hours" class="col-md-12">
    <hr>
    <div class="center-block">
        <h3>By time of day</h3>
        <p>Although crime reports tended to be more frequent on <b>weekday afternoons</b>, they were largely property crimes. Violent crime reports were more sporadic.</p>
    </div>
	{% include 'hours.html' %}
</section>

<section id="months" class="col-md-12">
    <hr>
    <div class="center-block">
        <h3>By month</h3>
        <p>Crime reports have <b>decreased</b> since 2010, though they exhibit strong seasonal variation. Property and quality-of-life crime reports declined during the summer months, likely because there were fewer people on and around campus.</p>
    </div>
    {% include 'months.html' %}
</section>

<section id="about" class="col-md-12">
    <hr>
    <div class="center-block">
        <h3>About the data</h3>
        {% include 'about.html' %}
    </div>
</section>

<hr>

</div> <!--container-->
{% endblock %}