{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Crime on Campus{% endblock %}

{% block extra-css %}
<link href="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/leaflet.fullscreen.css" rel="stylesheet" />
<link href="{% static 'css/bootstrap-slider.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/tipped.css' %}" rel="stylesheet" />

<style type"text/css">
    .center-block {
        max-width: 600px;
    }
    h1.main-title {
    	margin-top: 0;
    }
    p.byline, p.date {
        text-transform: uppercase;
        text-align: center;
        font-family: Helvetica;
    }
    p.date {
        font-size: 11px;
        margin-top: -6px;
    }
    a.anchor {
        margin-top: -200px;
    }
</style>

{% endblock %}

{% block extra-js %}

<script src="{% static 'js/leaflet.fullscreen.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap-slider.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/tipped.js' %}" type="text/javascript"></script>
<script src="{% static 'js/pourover.js' %}" type="text/javascript"></script>
<script src="{% static 'js/tamper.js' %}" type="text/javascript"></script>
<script src="{% static 'js/column_chart.js' %}" type="text/javascript"></script>

{% endblock %}

{% block content %}

	<div class="container">

        <div class="col-md-12">
    		<div class="center-block">
        		<h1 class="main-title text-center">Crime on Campus</h1>
                <p class="byline">By <a target="_blank" href="http://www.dailycal.org/author/schinoy/">Sahil Chinoy</a> and <a>Thomas Kim</a> | Staff</p>
                <p class="date">November 13, 2015</p>
        		<p>The Daily Californian analyzed five years of UCPD crime logs. Explore an <a href="#spatial">interactive map</a> of crime around campus, <a href="#hours">view crime by time of day</a>, <a href="#months"> see historical trends</a> or read more about <a href="#about">how we analyzed the data</a>.</p>
    		</div>
        </div>

	<div id="spatial" class="col-md-12">
		<hr>
        <div class="center-block">
            <h3>By area</h3>
            <p>Our analysis showed that the area with consistent violent crime numbers is in the Southside area of Berkeley - most notably in <b>People's Park</b>. In the context of violent crime, we found that historically there were several cases of battery, aggravated theft, robbery, and assault in People's Park. However, we also observed that these cases were few and far between and the most common crime occurring in People's Park was either drug or alcohol related or minor incidents like petty theft. </p>

            <p>Interestingly, the most common area for property theft was at the <b>RSF</b>, <b>Golden Bear Cafe</b>, <b>Dwinelle Hall</b> and in libraries such as <b>Doe</b> and <b>Moffitt</b>. We suspect that this is because students and university staff members are more likely to leave personal items in these areas unattended. </p>

            <p><b>Click a bin</b> for detailed information.</p>
        </div>
		{% include 'map.html' %}
	</div>

    
	<div id="hours" class="col-md-12">
        <hr>
        <div class="center-block">
            <h3>By time of day</h3>
            <p>Although crime reports tended to be more frequent on weekday afternoons, they were largely incidents of property crime &mdash; theft and burglary, as opposed to violent crime such as assault, which was more sporadic.</p>
        </div>
		{% include 'heatmap.html' %}
	</div>

    <div id="months" class="col-md-12">
        <hr>
        <div class="center-block">
            <h3>By month</h3>
            <p>Crime reports have decreased since 2010, though they exhibit a strong seasonal variation. Property and quality-of-life crime tends to drop during the summer months, likely because there are fewer people on and around campus.</p>
        </div>
        {% include 'months.html' %}
    </div>

    <a class="anchor" id="about"></a>
    <div class="col-md-12">
        <hr>
        <div class="center-block">
            <h3>About the data</h3>
            {% include 'about.html' %}
        </div>
    </div>

	<hr>

	</div>
{% endblock %}