{% load static from staticfiles %}

<style type="text/css">
/* Modal */
.modal-header {
    border-bottom: none;
}

.modal-content p {
    margin: 0 0 -10px 0;
    font-family: Helvetica;
}

.modal-content table {
    margin-top: 10px;
    line-height: 1;
}

.big-number {
    font-weight: bold;
    font-size: 30px;
    margin-right: 5px;
}

.big-number.total {
    font-size: 50px;
    margin-right: 20px;
    margin-top: -17px;
    float: left;
}

td.big-number {
    text-align: right;
    padding-right: 20px;
    color: darkslategrey;
}

.big-number.violent {
    color: #e31a1c;
}

.big-number.property {
    color: #1f78b4;
}

.big-number.QOL {
    color: #33a02c;
}

/* Map */

#map-container {
    height: 600px;
    margin: 20px 0;
}

.overlay {
    padding: 0 8px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.9);
}

.lbl {
    font-size: 14px;
}

#total-count {
    font-weight: bold;
}

/* For legend generation */

.legend-title {
    margin-bottom: 5px;
}

.legend-key {
    float:left;
    font:10px Arial,
    sans-serif;
    color:#333;
}

.legend-key span {
    margin-left:-3px;
    line-height:20px;
}

.legend-swatch {
    display:inline-block;
    height:14px;
    width:14px;
    margin:0 10px 0 0;
    position:relative;
    bottom:-2px;
    background-color:#ccc;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.map .legend {
    width: 250px;
    margin:0;
    padding:6px 8px;
    background-color:#fff;
    background-color:rgba(255,255,255,0.9);
}

@media (max-width: 768px) {
    .map-legend {
        display: none;
    }
}

/* Controls */

#hour-slider {
    width: 100px;
}

#hour-slider .slider-handle {
    width: 12px;
    height: 12px;
    margin-left: -5px;
    margin-top: 0;
}

.total-label {
    font-size: 14px;
}

/* Column chart */

line, rect {
    shape-rendering: crispEdges;
}

.axis {
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    fill: #777;

    &.y {
        path { display: none; }
        .tick line { display: none; }
    }
}

.axis path, .axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.grid path {
    display: none;
}

.grid .tick {
    stroke: #eee;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

#column-chart .value text {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
}

.value text.in {
    fill: #fff;
}

.value text.in {
    fill: #fff;
}

.value text.out {
    fill: #999;
}

.value text.other {
    display: none;
}

.bars rect { fill: darkslategrey; }

.zero-line  {
    stroke: #666;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

</style>

<div class="modal fade" id="binModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>

<div class="map" id="map-container" style="height:600px;"></div>

<script type="text/template" id="modal-template">
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

        <span class="big-number total"><%= counts.total %></span> incidents from Jan. 2010 to Sept. 2015, <b>
        <% print(above_or_below(counts.total, counts.mean.total)) %></b> the average of <% print(counts.mean.total.toFixed('1')) %>.

        <p>This bin ranks <b><% print(ordinal_suffix_of(counts.rank))%></b> out of <%= counts.bin_count %> bins for crime reports in this time period.</p>

        <hr style="clear: both;">

        <table>
            <tr>
                <td class="big-number violent"><%= counts.violent %></td>
                <td>violent crimes, <b><% print(above_or_below(counts.violent, counts.mean.violent)) %></b> the average of <% print(counts.mean.violent.toFixed('1')) %>.</td>
            </tr>
            <tr>
                <td class="big-number property"><%= counts.property %></td>
                <td>property crimes, <b><% print(above_or_below(counts.property, counts.mean.property)) %></b> the average of <% print(counts.mean.property.toFixed('1')) %>.</td>
            </tr>
            <tr>
                <td class="big-number QOL"><%= counts.QOL %></td>
                <td>quality-of-life crimes, <b><% print(above_or_below(counts.QOL, counts.mean.QOL)) %></b> the average of <% print(counts.mean.QOL.toFixed('1')) %>.</td>
            </tr>
        </table>

        <hr>

        <div id="column-chart"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="legend-template-scale">
    <div class="legend-inner">
        <div class="legend-title"><strong><%= title %></strong></div>

        <style type="text/css">
            .legend-key { width: <% print(100/Object.keys(items).length) %>%; text-align: <%- align %> }
        </style>

        <% _.each(items, function(key, val) { %>
            <div class="legend-key" style="border-top:10px solid <%- key %>;"><span> <%- val %></span></div>
        <% }); %>
    </div>
</script>

<script type="text/template" id="severity-toggle-template">
    <div class="btn-group-vertical overlay " role="group">
        <form class="form">
            <div class="checkbox">
                <label>
                    <input class="target" type="checkbox" value="V" checked> Violent
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input class="target" type="checkbox" value="P" checked> Property
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input class="target" type="checkbox" value="Q" checked> Quality-of-life
                </label>
            </div>
        </form>
    </div>
</script>

<script type="text/javascript">
// some globals
var bins;
var view;
var modalTemplate = _.template($('#modal-template').html());
var format = d3.format("0,000");

// http://stackoverflow.com/questions/13627308/add-st-nd-rd-and-th-ordinal-suffix-to-a-number
function ordinal_suffix_of(i) {
    var j = i % 10,
        k = i % 100;
    if (j == 1 && k != 11) {
        return i + "st";
    }
    if (j == 2 && k != 12) {
        return i + "nd";
    }
    if (j == 3 && k != 13) {
        return i + "rd";
    }
    return i + "th";
}

function above_or_below(a, b) {
    if (a > b) {
        return 'above';
    } else {
        return 'below';
    }
}

// thanks colorbrewer
var colors = ['#ffffcc','#ffeda0','#fed976','#feb24c','#fd8d3c','#fc4e2a','#e31a1c'];
var colorscale = d3.scale.quantile();

/*
* Set up the basic map
*/

// create a map in the "map" div, set the view to a given place and zoom
var map = L.map('map-container', {
    center: [37.8716844,-122.2576889],
    zoom: 15,
    minZoom: 15,
    scrollWheelZoom: false,
    maxBounds: [[37.846188, -122.294424],[37.891093, -122.231725]],
    zoomControl: false,
});

// add an OpenStreetMap tile layer
var OpenStreetMap_BlackAndWhite = L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    opacity: 1,
    detectRetina: true
}).addTo(map);

// base class for our corner overlays
var CornerOverlay = L.Control.extend({
    initialize: function(html, position, extra_class) {
        html = typeof html !== 'undefined' ?  html : '';
        position = typeof position !== 'undefined' ?  position : 'bottomright';
        extra_class = typeof extra_class !== 'undefined' ?  extra_class : '';
        this._html = html;
        this._class = extra_class;
        this.options.position = position;
    },
    onAdd: function(map) {
        var container = L.DomUtil.create('div', this._class, L.DomUtil.get('map'));
        container.innerHTML = this._html;
        return container;
    },
    update: function(html) {
        this._html = html;
        this.getContainer().innerHTML = html;
    }
});

// HTML legend
var legendTemplateScale = _.template($('#legend-template-scale').html());
var Legend = CornerOverlay.extend({
    onAdd: function(map) {
        var container = L.DomUtil.create('div', 'overlay legend map-legend', L.DomUtil.get('map'));
        container.innerHTML = this._html;
        return container;
    },
    addData: function(legendData) {
        var defaults = {align: 'left', template: 'scale'};
        var opts = _.extend(defaults, legendData)
        if (opts.template == 'swatch') {
            var html = legendTemplateSwatch(opts);
        } else {
            var html = legendTemplateScale(opts);
        }
        this.update(html);
    },
});

// all the controls
var total_label = new CornerOverlay('Showing <span id="total-count"></span> incidents.','topright','lbl overlay')
map.addControl(total_label);
var severitytoggle = new CornerOverlay($('#severity-toggle-template').html(),'topright');
map.addControl(severitytoggle);
var zoom = new L.control.zoom({position: 'topleft'})
map.addControl(zoom);
var fullscreen = new L.Control.Fullscreen;
map.addControl(fullscreen);
var legend = new Legend('','bottomright');
map.addControl(legend);

var base_style = {
    fillColor: 'grey',
    fillOpacity: 0,
    stroke: false,
    color: 'black',
    weight: 2,
}
var binStyle = function(featureData) {
    return base_style;
}

var renderLegend = function() {
    var keys = colorscale.quantiles().slice();
    var _items = {}

    for (var i=0; i<keys.length; i++) {
        if (i == keys.length-1) {
            _items[keys[i].toFixed(0) + '+'] = colors[i]
        } else {
            _items[keys[i].toFixed(0)] = colors[i];
        }
    }

    var legend_title= 'Number of incidents'
    var legendData  = {
        'title': legend_title,
        'items': _items,
    }

    legend.addData(legendData);
}

// Use counts dictionary to color bins
var color_bins = function(counts) {
    var bin_layers = bins.getLayers();

    // First, establish the color scale
    counts_array = [];
    for (var i=0; i<bin_layers.length; i++) {
        var bin = bin_layers[i];
        var id = bin.feature.properties.id;
        bin.count = counts[id] || 0;
        if (bin.count > 0) {
            counts_array.push(bin.count);
        }
    }
    // Now that we have an array of counts, set up the quantile scale
    colorscale = colorscale.domain(counts_array).range(colors);
    // And render the appropriate legend
    renderLegend();

    // Now, loop through the bins and actually color them
    for (var i=0; i<bin_layers.length; i++) {
        var _count = bin_layers[i].count;
        // Don't display bins with 0 incidents
        if (_count < 1) {
            var _color = 'grey';
            var _opacity = 0;
            map.removeLayer(bin_layers[i]);
        } else {
            bin_layers[i].addTo(map);
            var _color = colorscale(_count);
            var _opacity = 0.6;
        }
        var style = _.extend(
            base_style,
            {
                fillColor: _color,
                fillOpacity: _opacity
            });

        bin_layers[i].setStyle(style);
    }
}

// Handles AJAX-ing in the data when a bin is clicked
var openModal = function(bin_id) {
    $.ajax("/api/bin/" + bin_id + ".json", {
        success: function(data) {      
            html = modalTemplate(data);
            $('#binModal').html(html);
            $('#binModal').modal('show');

            var width = $(document).width();
            if (width > 550) {
                width = 550;
            } else {
                width = width * 0.7;
            }

            // Render bar chart
            renderChart(data['time_series'], width);
        }
    })
}

// Takes array of incidents and returns number of incidents in each bin
var get_bin_counts = function(data) {
    return _.countBy(data, function(incident) {
        return incident.bin;
    });
}

// Get the incident data, unpack it and set up the PourOver view
var setUpView = function(){
    $.ajax("{% static 'json/packed.json' %}", {
           success: function(data) {
              data = Tamper.unpackData(data);
              collection = new PourOver.Collection(data);
              var category_filter = PourOver.makeInclusionFilter("category",["Q","V","P"]);

              collection.addFilters([category_filter]);

              BinCountView = PourOver.View.extend({
                render: function() {
                    var items = this.getCurrentItems();
                    bin_counts = get_bin_counts(items);
                    color_bins(bin_counts);
                    $('#total-count').html(format(items.length));
                }
              });

              view = new BinCountView("default_view", collection);
              view.render();
    }});
}

// Get the bin GeoJSON
$.getJSON("{% url 'bins-json' %}", function(response) {
    bins = L.geoJson(response, {
        style: binStyle,
    }).addTo(map);

    // Set up the event listeners
    _.each(bins.getLayers(), function(bin) {
        // Open the modal
        bin.on('click', function(e) {
            openModal(e.target.feature.properties.id);
        });

        // Hover behavior
        bin.on('mouseover', function(e) {
            e.target.setStyle({
                stroke: true,
            });
        });
        bin.on('mouseout', function(e) {
            e.target.setStyle({
                stroke: false,
            });
        });
    });

    $('#binModal').modal({
        show: false
    });

    setUpView();
});

// Handle control changes
$('.target').change(function() {
    var checkedVals = $('.target:checkbox:checked').map(function() {
        return this.value;
    }).get();
    if (checkedVals.length > 0) {
        view.collection.filters.category.query(checkedVals);
        view.render();
    } else {
        view.collection.filters.category.clearQuery();
        view.render();
    }
});
</script>