{% load static from staticfiles %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2 class="navbar-brand small-brand"><a target="_blank" href="http://www.dailycal.org/">DC</a></h2>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav small-nav">
        <li><a href="{% url 'bins' %}" class="active"></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=projects.dailycal.org/crime/"><i class="fa fa-lg fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.dailycal.org%2Fcrime%2F&via=dailycal&text=Crime%20on%20Campus%20%7C%20The%20Daily%20Californian"><i class="fa fa-lg fa-twitter"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>